<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post List</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }
    </style>
</head>
<body>
    <h1>게시글 목록</h1>
     <a href="/post/new">글쓰기</a>
    <table>
        <thead>
            <tr>
                <th>번호</th>
                <th>제목</th>
                <th>작성자</th>
                <th>내용</th>
                <th>작성일</th>
                <th>삭제할?</th>
            </tr>
        </thead>
        <tbody>
            {% for post in posts %}
            <tr>
                <td>{{ post.num }}</td>
                <td>{{ post.title }}</td>
                <td>{{ post.writer }}</td>
                <td>{{ post.content }}</td>
                <td>{{ post.created_at }}</td>
                <td>
                    <button onclick="deletePost({{ post.num }})">삭제</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <a href="/">홈으로 돌아가기</a>
</body>
    <script>
    function deletePost(num) {
        if (!confirm("정말 삭제하시겠습니까?")) return;

        fetch(`/post/delete/${num}`, {
            method: "DELETE"
        })
        .then(response => response.json())
        .then(data => {
            alert(data.message);
            location.reload(); // 삭제 후 새로고침
        })
        .catch(error => {
            console.error("에러:", error);
            alert("삭제 실패");
        });
    }
    </script>
</html>